<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Updating book details</title>
</head>
<body>
    <form action="/update/:id" method="post">
        <label>Rating</label>
        <input type="number" step="0.1" min="0" max="10" name="rating" /> <br />
        <label>Review</label>
        <input type="text" name="review" /> <br/>
        <button type="submit">Submit</button>
    </form>
    <a href="/"><button>Cancel</button></a>
</body>
</html>